@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria1: #1a726c;
  --cor-primaria2: #15635e;
  --cor-primaria3: #0b4f4a;
  --cor-primaria4: #0a4440;
  --cor-primaria5: #083734;
  --cor-secundaria1: #fdfdfd;
  --cor-secundaria2: #e9e9e9;
  --cor-secundaria3: #b9b9b9;
  --cor-secundaria4: #959595;
  --cor-secundaria5: #737373;
  --cor-secundaria6: #525252;
  --cor-secundaria7: #f7f7f7;
  --cor-terciaria: #010101;
  --cor-erro: #d81b1b;

  --font: "Poppins", sans-serif;
  --peso-light: 300;
  --peso-regular: 400;
  --peso-medium: 500;
  --peso-semibold: 600;
  --peso-bold: 700;

  --texto-mp: 0.65rem;
  --texto-pq: 0.7rem;
  --texto-sp: 0.75rem;
  --texto-sm: 0.85rem;
  --texto-md: 1rem;
  --texto-sg: 1.125rem;
  --texto-gd: 1.25rem;

  --titulo-pq: 1.3rem;
  --titulo-sm: 1.5rem;
  --titulo-md: 2rem;
  --titulo-gd: 2.5rem;

  --logo-sm: 3rem;
  --logo-md: 4rem;
  --logo-gd: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
